<!DOCTYPE html>
<html>
<head>
    <title>Edit Contact</title>
</head>
<body>
    <h1>Edit Contact</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ contact.name }}" required><br><br>
        <label for="phonenumber">phonenumber:</label>
        <input type="phonenumber" id="phonenumber" name="phonenumber" value="{{ contact.phonenumber }}" required><br><br>
        <label for="description">Name:</label>
        <input type="description" id="description" name="desccription" value="{{ contact.description }}" required><br><br>
        <input type="submit" value="Save Changes">
    </form>
    <a href="{% url 'list_contacts' %}">Back to Contact List</a>
</body>
</html>
